
<a asp-controller="Users" asp-action="Create" class="btn btn-outline-success">Add User</a>


<table class="table table-dark">
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Password</td>
        <td>Email</td>
        <td>Phone Number</td>
    </thead>
    <tbody>
        <td></td>
        <td></td>
        <td></td>
        <td></td
        <td></td>

    </tbody>
</table>